/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body {line-height:1.5;}table {border-collapse:separate;border-spacing:0;}caption, th, td {text-align:left;font-weight:normal;}table, td, th {vertical-align:middle;}blockquote:before, blockquote:after, q:before, q:after {content:"";}blockquote, q {quotes:"" "";}a img {border:none;}
body {font-size:75%;color:#555;background:#ddd;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}h1, h2, h3, h4, h5, h6 {font-weight:normal;}h1,.fauxh1 {font-size:3em;line-height:1;margin-bottom:0.5em;}h2 {font-size:2em;margin-bottom:0.75em;}h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}h6 {font-size:1em;font-weight:bold;}h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}p {margin:0 0 1.5em;}p img.left {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}a:focus, a:hover {color:#000;}a {color:#009;text-decoration:underline;}blockquote {margin:1.5em;color:#666;font-style:italic;}strong {font-weight:bold;}em, dfn {font-style:italic;}dfn {font-weight:bold;}sup, sub {line-height:0;}abbr, acronym {border-bottom:1px dotted #666;}address {margin:0 0 1.5em;font-style:italic;}del {color:#666;}pre {margin:1.5em 0;white-space:pre;}pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}li ul, li ol {margin:0 1.5em;}ul, ol {margin:0 1.5em 1.5em 1.5em;}dl {margin:0 0 1.5em 0;}dl dt {font-weight:bold;}dd {margin-left:1.5em;}th {font-weight:bold;}thead th {background:#c3d9ff;}th, td, caption {padding:2px 4px;}tr.even td {background:#e5ecf9;}tfoot {font-style:italic;}caption {background:#eee;}

ul.nav { float: left; margin: 0; list-style: none; }
ul.nav li { float: left; list-style: none; }
ul.nav li a, ul.nav li span { float: left; padding: 0 1em; font-size: 1.3em; text-decoration: none; }
ul.nav li span { color: #999; }
ul.nav li a:hover { text-decoration: underline; }

/* -= Layout =- */
.hdr { position: absolute; left: 0; right: 0; top: 0; height: 43px; margin: 0px 50px 0 20px; padding: 12px 0 0; border-bottom: 3px solid #999; background: #ddd; }
#urlnav { position: absolute; top: 55px; right: 9px; }
ul.lines { position: absolute; top: 58px; right: 50px; bottom: 20px; left: 20px; }

#urlnav { float: right; padding: 0; margin: 0; }
#urlnav li { clear: both; overflow: hidden; padding: 0; margin: 0;  }
#urlnav li a { background: transparent url(/i/089.png) no-repeat center center; overflow: hidden; width: 32px; height: 32px; padding: 0; margin: 0; text-indent: -9999px;}
#urlnav li a:hover { background-color: #eee; }

#urlnav li.top a { background-image: url(/i/194.png); }
#urlnav li.bottom a { background-image: url(/i/193.png); }
#urlnav li.clear a { background-image: url(/i/150.png); }
#urlnav li.permalink a { background-image: url(/i/089.png); }
#urlnav li.github { margin-top: 32px; }
#urlnav li.github a { background-image: url(http://github.com/favicon.png); }

.wrapper { padding: 0; }

.hdr h1 { float: left; margin-bottom: 10px; }
.hdr a.back { float: left; }
.hdr ul.nav { margin: 9px 0 0 10px; float: right; }
.hdr ul.nav li a, .hdr ul.nav li span { line-height: 2em; }
.hdr h1 span.date { font-size: 0.5em; margin-left: 10px; font-family: "Courier New",monospace; }

ul.lines { clear: both; border: 3px solid #999; border-top: 0; overflow: scroll; overflow-x: hidden; margin: 0; background: #fff; }
ul.lines li { list-style: none; font-family: "Courier New",monospace; line-height: 1.6em; font-size: 1.1em; clear: left; background: #eee; }
ul.lines li:hover span.t, ul.lines li.hover span.t { background: #efe; }

ul.lines li.action { color:#9C009C; }
ul.lines li.nick, ul.lines li.join, ul.lines li.mode { color:#009300; }
ul.lines li.left { color:#0000FC; }

ul.lines li.selected { background: #ddd; border-color: #9d9; }
ul.lines li.selected span.t { background: #cfc; border-color: #9d9; }
ul.lines li.selected span.ts { color: #555; }

ul.lines li span.ts { line-height: 1.2em; padding: 0.2em 0.1em 0 0.1em; text-decoration: none; float: left; color: #999; }
ul.lines li span.ts:hover { color: #555; }
ul.lines li span.t { margin-left: 4.4em; border-left: 3px solid #e9e9e9; border-bottom: 1px solid #eee; padding: 0.2em; line-height: 1.2em; display: block; background: #fff; }
